/* ------- Footer --------*/

.footer-container {
    height: 300px;
    max-width: 1200px;
    margin: 0 auto;
    background-color: aqua;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}