/* -------- Header --------- */

.header {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 5px 0 33px;
    z-index: 4;
    background-color: #7e7e7e;
}

/* Top-header */

.header-fixed {
    width: 100%;
}

.header-fixed.active {
    width: 100%;
    position: fixed;
    background: #f5f5f5;
    padding: 10px 0 10px;
    z-index: 1;
    top: 0;
    animation-name: headerAnim;
    animation-fill-mode: both;
    animation-duration: 0.75s;
}

.header_top-header {
    display: grid;
    grid-template-columns: 35px 182px 1fr 120px 80px;
    padding: 0px 0px 0px 30px;
    max-width: 1200px;
    margin: 0 auto;
}

.top-header_middle_logo {
    display: none;
}

.header_top-header > * {
    margin: auto;
    width: 100%;
}

.location-image {
    text-align: center;
}

.location_short {
    display: none;
}

.location button {
    background: inherit;
    transition: 0.3s ease-in-out;
    padding: 2px;
}

.location button:hover {
    background: rgb(85, 53, 72);
    border-radius: 10px;
}

.location button:hover a {
    color: white;
}

.bottom-header_button ul {
    display: flex;
    justify-content: center;
}


.top-header_button_void {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.location a {
    padding-left: 5px;
}

.number-container {
    display:flex;
    justify-content: end;
    align-items: center;
}

.number-container a {
    padding-right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.number-container img {
    width: 20px;
    height: 20px;
    padding-right: 2px;
}

.social-info-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.social-info_element {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#avito-image {
    width: 26px;
    height: 26px;
    border: 1px solid var(--color-text);
    border-radius: 50%;
}

#location-image {
    width: 30px;
    height: 30px;
}

.social-info-container {
    justify-content: center;
}


/* Bottom-header */

.header_bottom-header {
    display: grid;
    grid-template-columns: 228px 1fr 228px;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    margin-top: 0.5em;
}

.bottom-header_button {
    align-self: end;
    padding-bottom: 30px;
}

.bottom-header_button_link {
    margin: 0 auto;
}

.bottom-header_middle {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bottom-header_middle_logo {
    position: relative;
    height: 100px;
}

.button_container {
    --c: rgb(236, 184, 184);
    color: var(--c);
    font-size: 16px;
    border: 0.3em solid var(--c);
    border-radius: 0.5em;
    width: 12em;
    height: 3em;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Gilroy';
    letter-spacing: 0.1em;
    text-align: center;
    line-height: 3em;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 0.5s;
    margin: 1em;    
}

.button_container span {
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: var(--c);
    transform: translateY(150%);
    border-radius: 50%;
    left: calc((var(--n) - 1) * 25%);
    transition: 0.5s;
    transition-delay: calc((var(--n) - 1) * 0.1s);
    z-index: -1;
}

.button_container:hover {
    color: black;
}

.button_container:hover span {
    transform: translateY(0) scale(2);
}

.button_container span:nth-child(1) {
    --n: 1;
}

.button_container span:nth-child(2) {
    --n: 2;
}

.button_container span:nth-child(3) {
    --n: 3;
}

.button_container span:nth-child(4) {
    --n: 4;
}

.navigation {
    width: 60%;
    padding-top: 20px;
}

ul {
    list-style-type: none;
}

.nav_unit a:hover{
    color: var(--nav-active-color);
    transition: all 0.3s linear;
}

.nav_unit.active a{
    padding: 4px;
    border-radius: 10px;
    background-color: var(--nav-active-bg-color);
    color: var(--nav-active-color);
}

.navigation_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* --- Menu --- */
.menu-icon {
    width: 35px;
    height: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    background: none;
}

.button_element {
    display: block;
    width: 100%;
    height: 2px;
    background-color: black;
    transition: width 0.3s ease-in;
}

.button-third {
    width: 70%;
    height: 2px;
}
.button-first.active {
    width: 70%;
}
.button-third.active {
    width: 100%;
}

#button-first-active {
    width: 70%;
}
#button-third-active {
    width: 100%;
}

#button-first-void {
    width: 70%;
}
#button-third-void {
    width: 100%;
}

#button-first-void-active {
    width: 100%;
}
#button-third-void-active {
    width: 70%;
}

button {
    border: 0;
    padding: 0;
}

.menu {
    z-index: 3;
    transition: top 0.6s ease-in;
    width: 100%;
    position: sticky;
    top: 0;
}

.menu_sticky.active {
    top: 54px;
}

.menu-container {
    max-width: 1200px;
    margin: 0 auto;
}

.menu_container.active {
    z-index: 3;
    position: absolute;
    transform: translateY(0%);
}

.menu_container {
    position: absolute;
    background-color: #d4d4d4;
    z-index: 1;
    transform: translateY(-101%);
    width: 100%;
    max-width: 1200px;
    transition: all 0.4s ease-in;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.menu_menu {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    padding: 2em 3em;
    border-bottom: 1px solid var(--color-text);
}


.menu_menu_main_title {
    display: none;
}

.menu_unit {
    justify-content: space-between;
    width: fit-content;
}

.menu_close-button-container {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 1;
}

.menu_close-button {
    z-index: 2;
    height: 40px;
    width: 40px;
    background-color: inherit;
}

.menu_close-button_image {
    width: 32px;
    height: 32px;
}

.menu_unit_img-container {
    display: none;
}

.menu_menu a {
    color: inherit;
    transition: 0.3s ease;
}

.menu_menu a:hover {
    color: rgb(150, 68, 175);
}

.menu_menu_title {
    font-size: 17px;
    text-align: start;
    margin-bottom: 1.2em;
}

.menu_menu_list_element {
    margin-bottom: 1em;
    font-weight: 400;
}

.menu_menu_footer {
    width: 100%;
    max-width: 1200px;
    display: flex;
    gap: 1em;
}

.avitolinkmenufoo {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    border: 1px solid var(--color-text);
}

.menu_menu_footer {
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin: 1em 0;
}

.menu_menu_footer_social-container {
    display: flex;
    flex-direction: row;
    width: fit-content;
    gap: 15px 15px;
    margin-right: 4em;
}

.menu_menu_footer_number {
    display: none;
    flex-direction: row;
    align-items: center;
    width: fit-content;
}

.menu_menu_footer_number a {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.menu_menu_footer_number a span {
    font-weight: bold;
}

@media screen  and (width <= 1200px) {
    .button_container span {
        background-color: var(--c);
    }
    
    .button_container {
        color: black;
    }
    
    .button_container span {
        transform: translateY(0) scale(2);
    }
    .header_top-header, .header_bottom-header {
        max-width: 960px;
    }
    .header {
        padding-bottom: 1em;
    }
    .navigation {
        display: none;
    }
    .void-container {
        width: fit-content;
    }
    .bottom-header_button {
        padding: 0;
    }
    .menu-container {
        max-width: 960px;
    }
    #menu-container {
        max-width: 960px;
    }
    .top-header_button_void {
        display: flex;
    }
    .menu_menu {
        padding: 2em;
    }
    .menu-icon {
        height: 15px;
    }
}

@media screen and (width <= 1000px) {
    .header_top-header, .header_bottom-header {
        max-width: 760px;
    }
    .menu_menu {
        padding: 1em;
        gap: 2em;
    }
}

@media screen and (width <= 760px) {
    .number-container a {
        padding-right: 5px;
    }
    .number-container img {
        width: 25px;
        height: 25px;
    }
    .number-container span {
        display: none;
    }
    .social-info-container {
        display: none;
    }
    .header_top-header {
        display: grid;
        grid-template-columns: 80px 1fr 40px 40px;
        padding: 0px 0px 0px 30px;
        margin: 0 auto;   
    }
    .top-header_middle_logo {
        display: flex;
        justify-content: center;
    }
    .bottom-header_middle {
        display: none;
    }
    .header_bottom-header {
        grid-template-columns: 1fr 1fr;
    }
    .header_top-header, .header_bottom-header {
        max-width: 480px;
    }
    .location {
        display: none;
    }
    .header_top-header {
        max-width: 430px;
        margin: 0 auto;
        padding: 0;
    }
    .menu-icon {
        width: 110px;
        height: 30px;
    }
    .location-image {
        text-align: start;
    }
    #location-image {
        width: 45px;
        height: 45px;
    }
    .button_element {
        display: block;
        width: 100%;
        height: 6px;
        background-color: black;
        transition: width 0.3s ease-in;
    }
    .number-container img {
        width: 35px;
        height: 35px;
    }
    .header-fixed.active {
        display: none;
    }
    .menu {
        position: absolute;
        top: 0; 
        left: 0;
        z-index: 5;
    }
    .menu_container.active {
        overflow-y: scroll;
        width: 100vw;
    }
    .menu_sticky.active {
        top: 0;
    }
    .menu_menu {
        flex-direction: column;
        gap: 0;
        border-bottom: none;
        padding-bottom: 0;
    }
    .menu_menu_main_title {
        display: block;
        margin-top: 1em;
        margin-bottom: 2em;
    }
    .menu_menu_list-container {
        overflow: hidden;
        max-height: 0;
        will-change: max-height;
        transition: all 0.3s linear;
        margin-left: 1em;
    }

    .menu_menu_title {
        margin: 10px;
    }
    .menu_unit {
        width: 100%;
        border-top: 1px solid var(--color-text);
    }
    .menu_aboutus {
        border-bottom: 1px solid var(--color-text);
    }
    .menu_menu_title {
        display: flex;
        align-items: baseline;
        text-align: center;
        flex: 1;
    }
    .menu_menu_title img {
        width: 15px;
        height: 15px;
    }
    .menu_unit_link-container {
        width: fit-content;
    }
    .menu_unit_img-container {
        flex: 1;
        text-align: end;
        display: block
    }
    .menu_unit.active .menu_menu_list-container {
        transition: all 0.3s linear;
        margin-left: 1em;
        height: fit-content;
    }
    .menu_unit img {
        transition: 0.3s;
    }
    .menu_unit.active img {
        transform: rotate(90deg);
    }
    .menu_menu_footer {
        margin: 1em 0;
        justify-content: space-between;
    }
    .menu_menu_footer_number {
        display: flex;
        align-items: center;
        margin-left: 1em;
        font-size: 1.2em;
    }
}

@media screen and (width <= 480px) {
    .button_container {
        width: 8em;
        height: 3em;
    }
    .menu_menu_footer {
        gap: 0.5em;
    }
    .bottom-header_button:first-child ul {
        justify-content: start;
    }
    .bottom-header_button:last-child ul {
        justify-content: end;
    }
    .header_top-header {
        margin: 0 1em;
        padding: 0;
    }
    .menu_menu_footer_social-container {
        margin-right: 2em;
    }
}