/* -------- Header --------- */

.header {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 5px 0 33px;
    z-index: 4;
    background-color: #7e7e7e;
}

/* Top-header */

.header-fixed {
    width: 100%;
}

.header-fixed.active {
    width: 100%;
    position: fixed;
    background: #f5f5f5;
    padding: 10px 0 10px;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.08);
    z-index: 1;
    top: 0;
    animation-name: headerAnim;
    animation-fill-mode: both;
    animation-duration: 0.75s;
    border-bottom: 1px solid black;
}

.header_top-header {
    display: grid;
    grid-template-columns: 35px 182px 1fr 90px 95px;
    padding: 0px 0px 0px 30px;
    max-width: 1200px;
    margin: 0 auto;
}

.header_top-header > * {
    margin: auto;
    width: 100%;
}

.location-image {
    text-align: center;
}

.location  a {
    padding-left: 5px; 
}

.number-container {
    display:flex;
    justify-content: end;
    align-items: center;
}

.number-container a {
    padding-right: 30px;
}

.social-info-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.social-info_element {
    padding-left: 5px;
}

#avito-image {
    width: 30px;
    height: 30px;
    border-radius: 15px;
}

#location-image {
    width: 30px;
    height: 30px;
}



/* Bottom-header */

.header_bottom-header {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    max-width: 1200px;
    margin: auto;
}

.bottom-header_button {
    align-self: end;
    padding-bottom: 30px;
}

.bottom-header_button_link {
    margin: 0 auto;
}

.bottom-header_middle {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bottom-header_middle_logo {
    position: relative;
    height: 100px;
}

.button_container {
    --c: rgb(236, 184, 184);
    color: var(--c);
    font-size: 16px;
    border: 0.3em solid var(--c);
    border-radius: 0.5em;
    width: 12em;
    height: 3em;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Gilroy';
    letter-spacing: 0.1em;
    text-align: center;
    line-height: 3em;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 0.5s;
    margin: 1em;    
}

.button_container span {
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: var(--c);
    transform: translateY(150%);
    border-radius: 50%;
    left: calc((var(--n) - 1) * 25%);
    transition: 0.5s;
    transition-delay: calc((var(--n) - 1) * 0.1s);
    z-index: -1;
}

.button_container:hover {
    color: black;
}

.button_container:hover span {
    transform: translateY(0) scale(2);
}

.button_container span:nth-child(1) {
    --n: 1;
}

.button_container span:nth-child(2) {
    --n: 2;
}

.button_container span:nth-child(3) {
    --n: 3;
}

.button_container span:nth-child(4) {
    --n: 4;
}

.navigation {
    width: 60%;
    padding-top: 20px;
}

ul {
    list-style-type: none;
}

.nav_unit a:hover{
    color: var(--nav-active-color);
    transition: all 0.5s linear;
}

.nav_unit.active a{
    padding: 4px;
    border-radius: 10px;
    background-color: var(--nav-active-bg-color);
    color: var(--nav-active-color);
}

.navigation_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-icon {
    width: 35px;
    height: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    background: none;
}

.button_element {
    display: block;
    width: 100%;
    height: 2px;
    background-color: black;
    transition: width 0.3s ease-in;
}

.button-third {
    width: 70%;
}


.button-first.active {
    width: 70%;
}
.button-third.active {
    width: 100%;
}

#button-first-active {
    width: 70%;
}
#button-third-active {
    width: 100%;
}


button {
    border: 0;
    padding: 0;
}

.menu {
    z-index: 3;
    transition: top 0.6s ease-in;
    width: 100%;
}

.menu-container {
    max-width: 1200px;
    margin: 0 auto;
}

.menu_container.active {
    z-index: 3;
    position: absolute;
    transform: translateY(0%);
}

.menu_container {
    position: absolute;
    background-color: #FFFFFF;
    z-index: 1;
    transform: translateY(-101%);
    width: 1200px;
    transition: all 0.5s ease-in;
    height: 200px;
}