/* ------ Promotions ------ */

.promotions-container {
    display: flex;
    flex-direction: row;
    max-width: 1200px;
}

.promotions_title {
    margin: 1.5em auto;
}

.promotions_unit {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 360px;
    min-width: 360px;
    margin: 0 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
}

.promotions_unit_image {
    padding: 0;
    margin: 0;
    position: relative;
    background-color: aqua;
    overflow: hidden;
    text-align: center;
    margin: 0;
}


.absolute_image_time {
    position: absolute;
    width: 100%;
    height: 90px;
    bottom: 0;
    background: rgb(85, 52, 25);
    opacity: 0.5;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.absolute_image_time span {
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    color: white;
}

.absolute_image_time img {
    filter: invert(100%) sepia(3%) saturate(12%) hue-rotate(103deg) brightness(105%) contrast(105%);
    padding-right: 3px;
}


.promotions_unit_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 300px;
}

.promotions_unit_info > * {
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
    margin-bottom: 16px;
}

.unit_info_content {
    margin: 0;
}


.promotions_button {
    padding: 10px 40px;
}

@media screen and (width <= 1200px) {
    .promotions-container {
        flex-direction: column;
    }
    .promotions_unit {
        max-width: fit-content;
        min-width: fit-content;
    }
    .promotions_unit_image {
        width: 500px;
        height: 500px;
    }
    .promotions_unit_image a img {
        width: 100%;
        height: 100%;
    }
    .promotions_unit {
        margin-bottom: 4em;
    }
}

@media screen and (width <= 760px) {
    .promotions_unit_image {
        width: 380px;
        height: 380px;
    }
}

@media screen and (width <= 480px) {
    .promotions_unit_image {
        width: 340px;
        height: 340px;
    }
}