/* ---- Record ------ */
.record-container, .record_inner-container {
    display: none;
}

.record-container.active {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.record_inner-container.active {
    background-color: #fff;
    display: flex;
    z-index: 6;
    position: relative;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 3em;
    border-radius: 20px;
    -webkit-box-shadow: 0px 0px 35px 22px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 0px 0px 35px 22px rgba(0, 0, 0, 0.57);
    box-shadow: 0px 0px 35px 22px rgba(0, 0, 0, 0.57);
}


.record_title {
    text-transform: uppercase;
    margin-bottom: 2em;
}

.record_description .info-content_element {
    margin-bottom: 1em;
}

.record-container .menu_close-button_image {
    width: 40px;
    height: 40px;
}

.record-container .menu_close-button-container {
    top: 10px;
    right: 15px;
}


.record_social-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.record_social-list_element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.record_social-list_element img {
    width: 40px;
    height: 40px;
}

.record_social-list_element .avitolinkmenufoo{
    width: 35px;
    height: 35px;
}

.social-list_element_title {
    margin-bottom: 0.5em;
}
