/* Services */

.services_title {
    text-align: center;
    padding-top: 40px;
}

.services-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 1200px;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

.services_element-container-flex {
    flex: 50%;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.services_element-container {
    position: relative;
    margin-bottom: 80px;
    width: 100%;
}

.services_element_bg-image-container {
    width: 100%;
}

.services_element_bg-image-container img {
    border-radius: 20px;
}

.services_element_info {
    position: absolute;
    border-radius: 10px;
    z-index: 1;
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    top: 180px;
    width: 200px;
    height: 75px;
    box-shadow:0px 0px 15px 20px rgb(117, 117, 117);
    background-color:  rgb(117, 117, 117);
}

.services_element_info h1 {
    margin-top: 25px;
}