/* Slider */
.swiper {
    width: 100vw;
}

.swiper-button-next {
    margin-right: 30px;
}

.swiper-button-prev {
    margin-left: 30px;
}

.slide_image {
    width: 100%;
    height: 400px;
    background-image: url('https://dummyimage.com/1900x700//fff.png');
    background-position: 50% 50%;
    background-repeat: no-repeat;

}

.slide_description-container {
    display: flex;
    justify-content: start;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.slide_description_inner-contianer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
    height: 100%;
}

.slide_button {
    padding: 0.75em;
    font-size: 18px;
}


.slide_description_title {
    text-transform: uppercase;
}

.swiper .swiper-button-prev::after,
.swiper .swiper-button-next::after {
    color: rgb(8, 8, 8);
}















@media screen and (width <= 1000px) {
    .swiper-button-next {
        display: none;
    }
    
    .swiper-button-prev {
        display: none;
    }
}

@media screen and (width <= 760px) {
    
}