*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  font-size: inherit;
  font-family: inherit;
  text-decoration: none;
}


body {
    font-family: 'Open Sans', 'Montserrat', 'Roboto', sans-serif;
}

.body {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;     
}

.body > * {
    margin: 0 auto;
}

/* -------- Header --------- */

.header {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 5px 0 33px;
    max-width: 1200px;
}

/* Top-header */

.header_top-header {
    display: grid;
    grid-template-columns: 35px 182px 1fr 90px 95px;
    padding: 0px 0px 0px 30px;
}

.header_top-header > * {
    margin: auto;
    width: 100%;
}

.location  a {
    padding-left: 25px; 
}

.number-container {
    display:flex;
    justify-content: end;
    align-items: center;
}

.number-container a {
    padding-right: 30px;
}

.social-info-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

/* Bottom-header */

.header_bottom-header {
    display: grid;
    grid-template-columns: 220px 1fr 220px;
}

.bottom-header_button {
    align-self: end;
    padding-bottom: 30px;
}

.bottom-header_button_link {
    margin: 0 auto;
}

.bottom-header_middle {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bottom-header_middle img {
    padding-bottom: 20px;
}

.button {
    width: 100%;
    display: block;
    flex: 0 0 auto;
    text-align: center;
}

.navigation {
    width: 60%;
}

ul {
    list-style-type: none;
}

.navigation_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-icon {
    width: 35px;
    height: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    background: none;
}

.menu-icon span {
    display: block;
    width: 100%;
    height: 2px;
    background-color: black;
    transition: width 0.3s ease-in;
}

.menu-icon span:nth-child(3) {
    width: 70%;
}

button {
    border: 0;
    padding: 0;
}

/* ------- Main ------- */

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* Video */

.video-section {
    width: 100%;
}
.video-section_container {
    display: flex;
    padding: 0px max(15px, (100% - 1200px) / 2) 0px 0;
    position: relative;
}

.video-section_video-block {
    min-height: 750px;
    max-height: 750px;
    overflow: hidden;
    z-index: 1;
}

.video-section_video-content {
    margin-left: -100px;
    max-width: 575px;
    min-width: 575px;
    z-index: 2;
    position: relative;
}

.video-section_bg-gradiant {
    width: 300px;
    height: 100%;
    position: absolute;
    top: 0;
    left: -200px;
    z-index: 1;
    background-image: linear-gradient(270deg, #FFFFFF 2.49%, rgba(255, 255, 255, 0) 85.87%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.video-content_info {
    position: relative;
}

.video-content_info-absolute {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}


/* Slider */
.slider-section {
    width: 100%;
}

.swiper {
    margin-top: 60px;
    display: flex;
}

.slider-container {
    min-height: 100%;
    flex: 0.1;
}

.slider_slide {
    width: 100%;
}

.swiper-button-next {
    margin-right: 60px;
}

.swiper-button-prev {
    margin-left: 60px;
}

.slider_slide_image {
    text-align: center;
}

.slider_slide_image img {
    max-width: 100%;
}

.swiper .swiper-button-prev::after,
.swiper .swiper-button-next::after {
    color: rgb(8, 8, 8);
}

.swiper .swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    background-color: aqua;
}

.swiper .swiper-pagination-bullet-active {
    background-color: gray;
}
/* ------- End Main ------- */





/* ------------------------------------- */

body {
    background-color: rgb(184, 184, 184);
}

.container {
    background-color: rgb(255, 255, 255);
}

.container > * {
    background-color: rgb(179, 255, 255);
}